* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: rgb(241, 241, 249);
    height: 60px;
}

.navbar a {
    text-decoration: none;

    /* display: flex; */
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    padding-top: 10px;
    padding-right: 8px;
    padding-left: 8px;
}

hr {
    background-color: purple;
}

#Intro {
    background-color: black;
    color: purple;
    display: flex;
    height: 90vh;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    border-radius: 50%;
    padding: 10px;
    height: 60vh;
    width: 30vw;
}

.shadow {
    /* text-shadow: 0 0 12px purple; */
    filter: drop-shadow(0 0 30px purple);
}

.p1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    padding: 15px;
    position: relative;
    /* top: 16vh; */
}

h1 {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    /* left: 40%; */
    top: 8vh;
}

#Project {
    height: 16vh;
    background-color: purple;
    color: black;
    font-size: large;
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

#projectdiv {

    background-color: black;
    color: purple;
    display: flex;
    height: 95vh;
    flex-wrap: wrap;
    flex-direction: column;
}

.logo1 {
    border-radius: 45px;
    height: 40vh;
    width: 42vw;
    box-shadow: 0 0 15px red;
    margin: 20px;
}

.logo2 {
    border-radius: 45px;
    height: 40vh;
    width: 42vw;
    box-shadow: 0 0 15px yellow;

}

#Skills {
    height: 16vh;
    background-color: purple;
    color: black;
    font-size: large;
    display: flex;
    text-align: center;
    justify-content: center;

}

#H1 {
    position: relative;
    margin-bottom: 60px;

}

#skilldiv {
    background-color: black;
    color: purple;
    display: flex;
    height: 89vh;
    flex-wrap: wrap;
    flex-direction: column;
}

.htmllogo {
    height: 45vh;
    width: 20vw;
    margin-top: 5vw;
    margin-left: 4vw;
}

.htmllogo:hover {
    filter: drop-shadow(0 0 30px orange);
    margin-left: 6vw;
}

.csslogo {
    height: 60vh;
    width: 15vw;
    margin-left: 8vw;
}

.csslogo:hover {
    filter: drop-shadow(0 0 30px rgb(47, 16, 158));
    margin-left: 10vw;
}

.jslogo {
    height: 60vh;
    width: 25vw;
    margin-left: 8vw;
    margin-top: 5vw;
}

.jslogo:hover {
    filter: drop-shadow(0 0 30px rgb(217, 226, 33));
    margin-left: 6vw;
}

#Contact {
    height: 17vh;
    background-color: purple;
    color: black;
    font-size: large;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.call {
    background-image: url(https://img.freepik.com/free-photo/vintage-pink-telephone-composition_23-2148913955.jpg);
    display: flex;
    height: 105vh;
    flex-wrap: wrap;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    background-color: black;
    color: purple;
    width: 15vw;
    height: 5vh;
    margin-left: 5vh;
    margin-top: 10px;
    padding: 4px;
}

textarea{
    background-color: black;
    color: purple;
    width: 25vw;
    height: 25vh;
    margin-left: 5vh;
    margin-top: 10px;
    padding: 4px;
}
button{
    background-color: black;
    color: purple;
    width: 15vw;
    height: 5vh;
    margin-left: 5vh;
    margin-top: 10px;
    padding: 4px;
}
form{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200804/pngtree-minimal-geometric-podium-scene-with-geometrical-forms-image_383579.jpg);
    background-size: cover;
    width: 60vw;
    margin: 10vh;
    filter: drop-shadow(0 0 12px purple);
    border: 2px solid purple;
    border-radius: 10px;
    padding: 20px;
}
footer{
    height: 5vh;
    background-color: purple;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}